@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab|Pacifico');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito';
    outline: none;
    user-select: none;
    color: pink;
}

body {
    overflow: hidden;
    background-color: white;
}

main {
    display: flex;
    flex-flow: column;
}

#first-phrase,
#second-phrase {
    font-size: 24px;
    font-weight: 600;
}

.quick-exit-right {
    animation: toright 2s ease-in;
    left: 100vw !important;
    opacity: 0;
}

@keyframes toright {
    0% {
        opacity: 1;
        left: 40vw;
    }
    80% {
        opacity: 0;
    }
    100% {
        left: 100vw;
    }
}

#upper-phrase {
    margin: 40vh auto 0px auto;
}

#lower-phrase {
    margin-left: auto;
    margin-right: auto;
}

#upper-phrase, #lower-phrase {
    display: flex;
    opacity: 0;
}

#upper-phrase p, #lower-phrase p {
    color: rgb(255, 103, 131);
    font-family: 'Nunito';
    font-size: 20px;
}
#lower-phrase p span {
    font-family: 'Pacifico';
    font-size: larger;
}

#upper-phrase > span, #lower-phrase > span {
    width: 100px;
}

#main-box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#main-box img {
    display: none;
    opacity: 0;
}

#main-word {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#main-word * {
    margin: 2px !important;
}

#main-word input {
    background-color: transparent;
    border: none;
    border-bottom: solid pink 2px;
    width: 24px;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto Slab';
    margin: 2px;
}

.make-pinker {
    animation: makePinker 1s ease-in;
    color: pink !important;
    border-color: pink !important;
}

@keyframes makePinker {
    0% {
        color: goldenrod;
        border-color: goldenrod;
    }
    100% {
        color: pink;
        border-color: pink;
    }
}

.make-golder {
    animation: makeGolder 1s ease-in;
    color: goldenrod !important;
    border-color: goldenrod !important;
}

@keyframes makeGolder {
    0% {
        color: pink;
        border-color: pink;
    }
    100% {
        color: goldenrod;
        border-color: goldenrod;
    }
}

.remove-borders {
    animation: removeborders 2s ease-in;
    border-color: transparent !important;
    font-size: 32px !important;
}

@keyframes removeborders {
    0% {
        border-color: pink;
        font-size: 24px;
    }
    100% {
        border-color: transparent;
        font-size: 32px;
    }
}
