<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/constants.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/users.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <title>{0} – Login</title>
</head>

<body style="display: none;">
    <header>
        <nav id="top-bar">
            <img class="e-logo">
            <h2 class="e-name">{0}</h2>
            <div divider></div>
            <ul id="top-menu">
                <a class="router router-main">
                    <li>Home</li>
                </a>
            </ul>
            <ul id="user-options">
                <a class="router router-register">
                    <li>Register</li>
                </a>
            </ul>
        </nav>
    </header>
    <main>
        <section id="user-form">
            <h2>Fucking Awesome &lt;3</h2>
            <div id="form-container">
                <div id="form-header">
                    <h3>Dive into</h3>
                    <img class="e-sec-logo">
                    <h3><span class="e-name">{0}</span></h3>
                </div>
                <div id="form-main">
                    <form id="main-form" data-automate data-method="post" data-router="api-login" data-callback="handleLogin">
                        <div>
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required>
                        </div>
                        <button>Login</button>
                    </form>
                </div>
                <div id="form-footer">
                    <p>Social Media is Cool</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h3>Fucking Awesome Footer</h3>
        <h4>With so much</h4>
        <h5>Text</h5>
        <h6>Is coming</h6>
    </footer>
</body>
<script src="/assets/js/constants.js"></script>
<script src="/assets/js/universal.js"></script>
<script src="/assets/js/users.js"></script>
<script src="/assets/js/form.js"></script>

</html>