<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link class="e-router router-css-main" rel="stylesheet" type="text/css">
    <link class="e-router router-css-constants" rel="stylesheet" type="text/css">
    <link class="e-router router-css-universal" rel="stylesheet" type="text/css">
    <link class="e-router router-css-fa" rel="stylesheet" type="text/css">
    <link class="e-router router-css-bs" rel="stylesheet" type="text/css">
    <link class="e-router router-css-mdb" rel="stylesheet" type="text/css">
    <title>{0} – Welcome</title>
</head>

<body style="display: none" class="min-height-100vh d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark deep-purple accent-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand e-router router-main e-name font-weight-bold">{0}</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active e-router router-main">Home</a>
                    <a class="nav-item nav-link e-router router-about">About</a>
                </div>
            </div>
            <div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active e-router router-login e-text" data-text-out="login" data-text-in="logout" data-action-in="performLogout">{0}</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="d-flex flex-column flex-grow-1">
        <section class="pres white-text flex-grow-1">
            <div class="pres-background-outer">
                <div class="pres-background-inner">
                </div>
            </div>
            <div class="pres-header rounded ml-5 mr-5">
                <h3 class="m-0">
                    <span class="e-name font-weight-bold fa-2x">{0}</span>
                </h3>
                <img class="e-logo img-w-medium m-1 p-2 white rounded-circle material-shadow">
                <h3 class="fa-2x m-0">stores more than items.</h3>
            </div>
            <div class="pres-main">
                <div class="card mt-auto mb-auto w-100 max-width-400px m-4 vanish-login">
                    <div class="card-header deep-purple accent-4 white-text e-name">{0} is the
                        <span class="font-weight-bold">ready-to-go</span> solution</div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text dark-grey-text">We handle services relative to hosting patrimonies and managing
                            <span class="font-weight-bold">movements</span> through
                            <span class="font-weight-bold">environments</span>.</p>
                        <a class="btn deep-purple accent-4 mt-auto e-router router-register">Create Account</a>
                    </div>
                </div>
                <div class="features p-3">
                    <div class="card card-body dark-grey-text w-300px m-2">
                        <h4 class="card-title amber-text accent-1">
                            <i class="fa fa-dropbox mr-2"></i>Patrimonies</h4>
                        <p class="card-text">Our platform allows you to simply register and edit items in a blink of eye.</p>
                        <a class="btn amber e-router router-login mt-auto e-text" data-text-out="explore" data-text-in="manage" data-router-in="router-pats">{0} Patrimonies</a>
                    </div>
                    <div class="card card-body dark-grey-text w-300px m-2">
                        <h4 class="card-title orange-text w-300px">
                            <i class="fa fa-envira mr-2"></i>Environments</h4>
                        <p class="card-text">You can manage your patrimonies through environments, recovering or sending them to there.</p>
                        <a class="btn orange e-router router-login mt-auto e-text" data-text-out="explore" data-text-in="manage" data-router-in="router-envs">{0} Environments</a>
                    </div>
                    <div class="card card-body dark-grey-text w-300px m-2">
                        <h4 class="card-title deep-orange-text">
                            <i class="fa fa-arrows-alt mr-2"></i>Movements</h4>
                        <p class="card-text e-name">The old paper sheets to register are now handled by us, leave the {0} makes it for you.</p>
                        <a class="btn deep-orange e-router router-login mt-auto e-text" data-text-out="explore" data-text-in="manage" data-router-in="router-movs">{0} Movements</a>
                    </div>
                    <div class="card card-body dark-grey-text w-300px m-2" min-auth-show="2">
                        <h4 class="card-title dark-orange-text accent-4">
                            <i class="fa fa-lock mr-2"></i>Access Control</h4>
                        <p class="card-text">Our automated system provides you a clear manage system to your users.</p>
                        <a class="btn dark-orange e-router router-login mt-auto e-text" data-text-out="explore" data-text-in="manage" data-router-in="router-users">{0} Access Control</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <footer class="page-footer font-small deep-purple accent-4 pt-0">
            <div class="container">
                <div class="row d-flex flex-wrap flex-row justify-content-center align-items-center">
                    <a class="fb-ic m-3">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="tw-ic m-3">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="gplus-ic m-3">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="li-ic m-3">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="ins-ic m-3">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="pin-ic m-3">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <div class="footer-copyright py-3 text-center">
                <p>
                    <span class="font-weight-bold e-name">{0}</span> is a
                    <span class="font-weight-bold">SENAI</span> Software</p>
            </div>
        </footer>
    </footer>

    <script src="/assets/js/constants.js"></script>
    <script src="/assets/js/universal.js"></script>
    <!-- External -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>
</body>

</html>