@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}


/* Header */
/* It will be moved with the page */
#containerTop {
    border-radius: 25px;
    background-color: #4A4A4A;
    position: fixed;
    width: 100%;
    /* Make it to be at the top, it is, it won't be overwritten */
    z-index: 1000;
}

#containerTopLogo {
    background-color: #3C3C3C;
    /* border-bottom-left-radius: 000px;
    border-bottom-right-radius: 30px; */
    display: block;
    text-align: center;
}

#containerTopLogo * {
    background-color: #3C3C3C;
    display: inline;
}

#containerTopLogo p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    color: #4EA6F4;
    font-size: 36px;
}

#containerTopLogo p:nth-child(2) {
    font-family: 'Anonymous Pro', monospace;
    color: #FF9300;
    font-size: 40px;
}

#topBarOptions {
    background-color: transparent;
}

#topBarOptions ul {
    background-color: transparent;
    border-radius: 24px;
    display: inline;
    padding: 0px;
    display: flex;
    justify-content: center;
}

#topBarOptions ul li a {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #4EA6F4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4A4A4A;
    transition: background-color .2s;
}

#topBarOptions ul li a:hover {
    background-color: #313131;
}

#topBarOptions ul {
    list-style-type: none;
    overflow: hidden;
}

#topBarOptions ul li {
    background-color: gray;
    display: inline-block;
}

<<<<<<< HEAD
nav li a:hover {z'
    background-color: #CCCCCC;
=======

/* Main */
main {
    background-color: rgba(255, 0, 0, 0.60);
}

#translucidBack {
    width: 100%;
    position: fixed;
    background-color: rgba(101, 101, 101, 0.85);
    z-index: -1;
>>>>>>> 408166096234fade82e37db2cf997fd33f4c6d68
}

#contentMain {
    margin-top: 30px;
    padding-top: 66px;
    height: calc(100% - 30px);
    width: 100%;
    position: absolute;
    /* background-color: rgba(101, 101, 101, 0.5); */
}

#coursesInfo {
    border-left-style: solid;
    border-left-color: #4EA6F4;
    margin: 20px;
    padding: 24px;
    width: 38vw;
    height: 5vw;
    align-items: center;
    display: inline-flex;
    background-color: rgba(186, 186, 186, 0.50);
}

#coursesInfo * {
    font-size: 24px;
    color: white;
}

#coursesTitle {
    color: #4EA6F4;
    display: inline-flex;
    padding-left: 25px;
    font-size: 48px;
    font-family: 'Ubuntu Mono', sans-serif;
}

#productName {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#productDescription {
    color: white;
}

#backVideo {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    position: fixed;
    z-index: -2;
}

#backVideo * {
    width: 100%;
    position: fixed;
}

@media only screen and (max-width: 400px) {
    * {
        font-size: 12px;
    }
    #contentMain {
        margin-top: 76px;
    }
    #topBarOptions ul li a {
        font-size: 9px;
        padding: 11px 11px;
    }
    #containerTopLogo p:nth-child(1) {
        font-size: 26px;
    }
    #containerTopLogo p:nth-child(2) {
        font-size: 28px;
    }
}