@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    box-sizing: border-box;
    background-color: #212121;
}

/* Header */
/* It will be moved with the page */
#containerTop {
    border-radius: 25px;
    background-color: #4A4A4A;
    position: fixed;
    width: 100%;
    /* Make it to be at the top, it is, it won't be overwritten */
    z-index: 1000;
}

#containerTopLogo {
    background-color: #3C3C3C;
    /* border-bottom-left-radius: 000px;
    border-bottom-right-radius: 30px; */
    display: block;
    text-align: center;
}

#containerTopLogo * {
    background-color: #3C3C3C;
    display: inline;
}

#containerTopLogo p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    color: #4EA6F4;
    font-size: 36px;
}

#containerTopLogo p:nth-child(2) {
    font-family: 'Anonymous Pro', monospace;
    color: #FF9300;
    font-size: 40px;
}

#topLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: transparent;
}

#topBarOptions {
    background-color: transparent;
}

#topBarOptions ul {
    background-color: transparent;
    border-radius: 24px;
    display: inline;
}

#topBarOptions ul li a {
    display: block;
    font-weight: 600;
    color: #4EA6F4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4A4A4A;
    transition: background-color .2s;
}

#topBarOptions ul li a:hover {
    background-color: #313131;
}

#topBarOptions ul {
    list-style-type: none;
    overflow: hidden;
}

#topBarOptions ul li {
    background-color: gray;
    display: inline-block;
}
/* Main */
main {
    background-color: red;
}

#backVideo {
    z-index: -1;
    position: fixed;
    width: 100%;
}

#contentMain {
    margin-top: 100px;
    background-color: red;
    position: absolute;
}