@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

a {
	text-decoration: none !important;
}

.mdl-layout__header-row {
	padding: 0px 40px;
}

.mdl-button--raised.mdl-button--colored {
	background-color: rgb(255, 61, 0) !important;
}

.custom-white-bold-text {
	color: white !important;
	font-weight: 600 !important;
}

.custom-topnav a:first-child, .custom-topnav a:first-child {
	padding: 0px !important;
}

.custom-topnav a:not (:first-child ) {
	padding: 0px 0px 0px 24px;
}