* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Segoe UI';
}
body {
    background-color: #4b4b4b !important;
    overflow-x: hidden;
}
header img:nth-child(1) {
    position: absolute;
    width: 130%;
    z-index: -1;
}
header img:nth-child(2) {
    margin-top: 5%;
    margin-left: 10%;
    width: 60%;
    height: 60%;
}
header img:nth-child(3) {
    margin-left: 25%;
    width: 50%;
}
header h2 {
    text-align: center;
    color: #d0d0d0;
    font-weight: 600;
    font-size: 32px;
    margin: 25px 25%;
}
.active {
    display: flex !important;
    justify-content: space-around;
}
.bold {
    font-weight: 600;
}
.carousel-item img {
    height: 250px !important;
}
.description-text {
    text-align: center;
    color: gray;
}
.feature {
    background-color: lightgray;
    padding: 10px 10vw;
    height: 280px;
}
.feature img {
    height: 80% !important;
    padding: 10px;
    background-color: #ededed;
    border-radius: 10px;
}
.feature div {
    padding: 10px;
}
.feature div h4 {
    text-align: center;
    color: white;
}
.feature div h4, .feature div h4 *, #main-features .featured-text {
    font-family: 'Lucida Sans';
    font-size: 32px;
}
.feature div p {
    font-size: 24px;
}
.featured-text {
    color: #ff6c00;
}
.higher {
    font-size: 36px;
}
.logo-text {
    font-variant: small-caps;
    font-size: 34px;
}
.category-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
}
.category-card {
    background-color: white;
    color: gray;
    flex-basis: 700px;
    display: flex;
    flex-flow: column;
    width: 700px;
    height: 320px;
    margin-bottom: 60px;
}
.category-card .card-border-decoration {
    height: 80px;
    width: 120px;
    margin-top: -3%;
    margin-left: -3.3%;
    margin-bottom: -50px;
}
.category-card h4 {
    margin: 10px;
    margin-top: 0px;
    font-size: 38px;
    font-family: 'Lucida Sans';
    color: #ff6c00;
    text-align: center;
}
.category-card p {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    line-height: 35px;
    font-weight: 400;
    font-size: 26px;
}
.category-card p span {
    color: #ff6c00;
    font-weight: 600;
    font-family: 'Lucida Sans';
}
.category-card div {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.category-card div img {
    height: 140px;
    margin-top: auto;
    margin-bottom: auto;
}
.newsletter-area {
    display: inline;
}
.social-media {
    margin: 10px;
    display: inline;
    width: 50%;
}
.social-media div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin-bottom: 16px;
}
.social-media div img {
    height: 100px;
}
.social-media div div {
    margin-bottom: 24px;
    width: 50%;
    margin: 10px;
    display: block;
    flex-flow: column;
}
.social-media div h3 {
    font-family: 'Lucida Sans';
    font-size: 38px;
    color: #ff6c00;
}
.social-media div h5 span {
    font-variant: small-caps;
}
.social-media div h5 span:nth-child(1) {
    color: white;
}
.social-media div h5 span:nth-child(2) {
    font-family: 'Lucida Sans';
    color: #ff6c00;
}
#featuresCarousel {
    background-color: lightgray;
}
#main-characteristics {
    background-color: lightgray;
}
#main-features {
    margin: 10px;
    color: #b9b9b9;
}
footer {
    padding: 10px;
    color: #9b9b9b;
    background-color: #363636;
    display: inline;
}
footer div {
    width: 50%;
    display: inline;
}
footer h4 {
    color: gray;
}