* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: #4C4C4C;
}
#lp-bg-mediumgray {
    transform: rotate(-20deg);
    width: 200px;
    height: 200px;
    background-color: #8E8C8C;
}